.subTask {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	width: 100%;
	min-width: 200px;
	padding: 12px;
	background: transparent;

	&:hover {
		background: var(--border_gray_purple);
	}	
}
.titleSubTask {
	color: var(--border_white_purple);
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
}




.checkbox {
	/* display: none; */
	/* opacity: 0; */
	
	&::before {
		content: " ";
		width: 12px;
		height: 12px;
		background: var(--black_purple);
	}
}